.placeholder-text-non-input-tag-fields {

    font-size:20px; 
}

.required-star-markers {

    color:red;
    margin-left:-3px;
}

.input-headers-margin-bottom {

    margin-bottom:10px;
    font-size:20px;
}

input {

    border-radius:5px;
    height:30px;
    border:1px solid grey;
    padding:5px;
    font-size:20px;
    
}

input:focus {
    outline: none;  /* Removes the default blue outline in some browsers */
    border: 2px solid #29ABE2;  /* Adjust the border thickness and color */
}

input::placeholder {

    font-size:20px;
}

.subheader {

    
    width:976.25px;
    margin-top:60px;
    margin-bottom:20px;

}

.subheader-wrapper {

    font-size:32px;
    width:278px;
    height:73px;
    margin-left:7%;
   
}

.d-none {

    display:none;
}

.d-block {

    display:block; 
}


.add-task-wrapper {

    display: flex;
    justify-content: space-around;
    width:976.25px;
    height:426px;
    margin-left:5%;
}

.seperator-left-right-side {

    width:1px;
    height:424px;
    background-color: #29ABE2; 
    
  
    
}

/* left side  */

.left-side-wrapper {

    display: flex;
    flex-direction: column;
    height:376px;
    width:440px; 
    margin-right:15px;
    
    
}

.title-input-wrapper {

    width:440px;
    height:96px;
    margin-bottom:10px;
}

.decription-input-wrapper {

    width:440px;
    height:168px;
    margin-bottom:10px;
}


.assigned-to-wrapper {

    width:440px;
    height:80px;
}


.assigned-to-toggle-button {

    width:440px;
    height:48px;
    border:1px solid grey;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:10px;

 }

 
 .assigned-to-toggle-button img {

    padding-right:10px;

 }

 .assigned-to-toggle-button img.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    padding:10px;
}


.description-input input {

    height:120px !important;
    text-align: top;

}

.input-fields-left-side input{

    width:440px;
    height:48px;
    
}

/* right side */

.right-side-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    width:440px;
    height:416px;
    margin-left:20px;
    
}

.input-fields-right-side input{

    width:440px;
    height:48px;
   
}

.due-date-wrapper {

    width:440px;
    height:96px;
    margin-bottom:10px;
}

.due-date-wrapper input {

    width:440px;
    
}

/* save obsidian  */

.due-date-wrapper {
    position: relative;
}

.due-date-input {
    position: relative;
    display: flex;
    align-items: center;
}

.due-date-input input {
    width: 100%;
    padding-right: 30px; /* Add padding to the right to avoid overlap with icon */
    box-sizing: border-box; /* Ensure padding doesn't expand the input */
}

.due-date-input img {
    position: absolute;
    right: 10px; /* Adjust this to control how close the icon is to the edge of the input */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 20px; /* Adjust icon size */
    height: 20px;
    cursor: pointer;
    pointer-events: auto; /* Allow icon to be clickable */
}

/* 
.prio-buttons-header {

    margin-top:40px;

} */

.prio-buttons-wrapper {

    width:440px;
    height:88px;
    margin-bottom:30px;
}


.prio-buttons {

    display: flex;
    gap:20px;
}


.prio-buttons button {

    width:136px;
    height:56px;
    border-radius:5px;
    font-size: 20px;
    border:none;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: #f0f0f0;
}

.prio-buttons button img {
    filter: none; /* Default SVG color */
    transition: filter 0.3s;
}

.prio-buttons button.active {
    color: white; /* Text color for active button */
}

.prio-buttons button.active img {
    filter: brightness(0) invert(1); /* Change SVG to white */
}

.prio-buttons button.urgent {
    background-color: red;
}

.prio-buttons button.medium {
    background-color: orange;
}

.prio-buttons button.low {
    background-color: lightgreen;
}

.category-input-wrapper {

    width:440px;
    height:80px;
    margin-bottom:30px;
    
}

.category-input {

    width:440px;
    height:48px;
    border-radius: 5px;
    border:1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:10px;
    padding-right:12px;
   
 }

 .category-input img.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    
}


 #category-input-content {

    background-color: white;
    height:110px;
    width:440px;
    z-index:100;
    position:relative;
    border-radius:10px;
    font-size:20px;
    border:1px solid black;
    padding:5px;
 }

 #category-input-content p {

    margin-bottom:10px;
    height:40px;
    display: flex;
    align-items: center;

 }

 #category-input-content p:hover {

    background-color:lightgray;
    border-radius:5px;
}


 

 .category-input:focus {
    outline: none;  /* Removes the default blue outline */
    border: 2px solid #29ABE2;  /* Changes the border when focused */
}

.subtask-list-items {
    
    display:flex;
    justify-content: space-between;
    margin-top:5px;
    
}

.subtask-input-wrapper {

    width:440px;
    height:80px;
    
}

.subtask-input {
    position: relative;
    display: flex;
    align-items: center;
}


.subtask-input img {
    position: absolute;
    right: 10px; /* Adjust this value based on how far right you want the icon */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 20px; /* Adjust icon size */
    height: 20px; /* Adjust icon size */
    cursor: pointer;
}


 footer {

    display:flex;
    justify-content: space-between;
    align-items: center;
    width:976.25px;
    margin-left:5%;
    margin-top:80px;
    padding-left:20px;
   
    
 }

 .clear-create-buttons-wrapper {

    display: flex;
    gap:20px;
 }

 .create-task-button {

    width:183px;
    height:56px;
    border-radius:5px;
    margin-right:20px;
    font-size: 20px;
    background-color: #2A3647;
    color:white;
    display: flex;
    align-items: center;
    gap:10px;
    
 }

 
 .clear-task-button {

    width:110px;
    height:56px;
    border-radius:5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:10px;
    
 }




 /* js templates  */

/* 
 .assigned-to-list-values {

    display:flex;
    justify-content: space-between;
    align-items: center;
    width:440px;
    height:50px;
    z-index:100; */
    /* position:relative;  scheint wichtig zu sein für z index obsidian */
    /* background-color: white;
   */
 /* }
 .assigned-to-list-values input {

    width:15px;
    height:15px;
    
 }

 .assigned-to-list-values-image-name {

    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
 } */

 /* position-relative scheint wichtig zu sein für z index obsidian */

 .assigned-to-list {
    max-height: 200px;  /* Limit the height of the list to make it scrollable */
    overflow-y: auto;   /* Enable vertical scroll */
    border: 1px solid #ccc;  /* Optional: Add border to make the container visible */
    z-index:100; 
    position:relative;  
    scrollbar-width: thin;
    scrollbar-color: #a8a8a8 transparent;
    padding:5px;
 
}

.assigned-to-list-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    height: 40px;
    background-color: white;
    margin-bottom: 10px; 
    padding-right:20px;
}

/* tabindex="0" added to html to make :focus work on non-input / button field obsidian */

.assigned-to-toggle-button:focus {
    outline: none;  /* Removes the default blue outline in some browsers */
    border: 2px solid #29ABE2;  /* Adjust the border thickness and color */
}

.assigned-to-list-values:hover {

    background-color:lightgray;
    border-radius:5px;

}

.assigned-to-list-values input {
    width: 15px;
    height: 15px;
}

.assigned-to-list-values-image-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bg-color-black {

    background-color: black;
}

 


 /* das ist die liste, die background color white haben soll, geht aber iwie nich */

 /* #assigned-to-input {

    background-color: white;
    height:200px;
    width:200px;
    z-index: 100;
 } */

 /* category  */
 
 

 /* task added to board overlay  */

 /* .overlay {

    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;


    
}

.overlay-container {

    background-color: #2A3647;
    color:white;
    width:250px;
    height:50px;
    padding:10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.overlay-container img {
    
    width:30px;
    height:30px;
     

    
} */


/* form validation */

.input-wrapper {
    margin-bottom: 15px;
  }
  
  .error {
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  



