.subheader {

    font-size: 32px;
    padding-left:10%
}

.d-none {

    display:none;
}

.d-block {

    display:block;
}


.add-task-wrapper {

    display: flex;
}

.seperator-left-right-side {

    width:2px;
    height:400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    
}

/* left side  */

.left-side-wrapper {

    display: flex;
    flex-direction: column;
    margin-left:10%;
    height:440px;
    width:376px; 
}

.description-input input {

    height:75px;
    text-align: top;
}

.input-fields-left-side input{

    width:300px;
}

/* right side */

.right-side-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    width:440px;
    height:416px;
}


.prio-buttons-header {

    margin-top:40px;


}
.input-fields-right-side input{

    width:300px;
   
}

 footer {

    display:flex;
    justify-content: space-between;
    align-items: center;
    width:750px;
    margin-left:10%;
 }

 /* js templates  */


 .assigned-to-list-values {

    display:flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    height:50px;
    border-radius: 10px;
 }

 .assigned-to-list-values input {

    width:15px;
    height:15px;
    
 }

 .assigned-to-list-values-image-name {

    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
 }
 
 .assigned-to-toggle-button {

    width:300px;
    height:50px;
    border:1px solid black;
    
    
 }
 


