:root {
    --focus-color: 2px solid #29ABE2;
    --font-color: black;
    --font-size: 1.25rem;
    --font-size-responsive: 1.1rem
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #a8a8a8 transparent; 
}

.main {
    background-color: #F6F7F8;
    height: 100vh;
    overflow-x: hidden;
    padding-bottom:200px;
}

.placeholder-text-non-input-tag-fields {
    font-size: var(--font-size)
}

.input-headers-margin-bottom {
    margin-bottom: 10px;
    font-size: var(--font-size)
}

.input-resp{

    width:440px;
}

input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid grey;
    padding: 5px;
    font-size: 20px;
    width: 440px;
    height: 50px;
    width: 100%;
}

input:focus {
    outline: none;
    border: var(--focus-color);
}

input::placeholder {
    color: var(--font-color);
    font-size: 1.25rem;
}

.subheader {
    width: 980px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.subheader-wrapper {
    font-size: 32px;
    width: 280px;
    height: 80px;
    margin-left: 10%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.add-task-wrapper {
    display: flex;
    justify-content: space-around;
    width: 980px;
    height: 430px;
    margin-left: 5%;
}

.seperator-left-right-side {
    width: 1px;
    height: 430px;
    background-color: #29ABE2;
}

.left-side-wrapper {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 440px;
    margin-right: 15px;
}

.title-input-wrapper {
    width: 440px;
    height: 100px;
    margin-bottom: 10px;
}

.decription-input-wrapper {
    width: 440px;
    height: 170px;
    margin-bottom: 10px;
}

.description-input input {
    height: 120px !important;
    text-align: top;
}

.assigned-to-wrapper {
    width: 440px;
    height: 80px;
}

.assigned-to-toggle-button {
    width: 440px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.assigned-to-toggle-button img {
    padding-right: 10px;
}

.assigned-to-toggle-button img.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    padding: 10px;
}

.assigned-to-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    z-index: 100;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: #a8a8a8 transparent;
    padding: 5px;
    background-color: white;
}

.assigned-to-list-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 40px;
    background-color: white;
    margin-bottom: 10px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 100px;
    border-radius: 5px;
    font-size: var(--font-size)
}

.assigned-to-list-values-image-name {
    display: flex;
    align-items: center;
    max-width: 440px;
    width: 100%;
    font-size: var(--font-size);
    margin: auto;
}

.assign-checkbox {
    width: 10px;
    height: 100px;
}

.bg-color-black {
    background-color: #2A3647;
    color: white;
}

.bg-color-black:hover {
    background-color: #2A3647;
}

#assigned-to-input-svg-below {
    margin-left: 10px;
}

.assigned-to-toggle-button:focus {
    outline: none;
    border: var(--focus-color);
}

.assigned-to-toggle-button {
    cursor: pointer;
    background-color: white;
}

.assigned-to-list-values:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.assigned-to-list-values input {
    width: 15px;
    height: 15px;
}

.right-side-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    height: 420px;
    margin-left: 20px;
}

.input-fields-right-side input {
    width: 440px;
    height: 50px;
}

.due-date-wrapper {
    width: 440px;
    height: 100px;
    margin-bottom: 10px;
}

.due-date-wrapper input {
    width: 440px;
    color: var(--font-color);
}

.due-date-input {
    position: relative;
    display: flex;
    align-items: center;
}

.due-date-input img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.prio-buttons-wrapper {
    width: 440px;
    height: 90px;
    margin-bottom: 30px;
}

.prio-buttons {
    display: flex;
    gap: 20px;
}

.prio-buttons button {
    width: 33%;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: #f0f0f0;
}

.prio-buttons button img {
    filter: none;
    transition: filter 0.3s;
}

.prio-buttons button.active {
    color: white;
}

.prio-buttons button.active img {
    filter: brightness(0) invert(1);
}

.prio-buttons button.urgent {
    background-color: red;
}

.prio-buttons button.medium {
    background-color: orange;
}

.prio-buttons button.low {
    background-color: lightgreen;
}

.category-input-wrapper {
    width: 440px;
    height: 80px;
    margin-bottom: 30px;
}

.category-input {
    width: 440px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 12px;
    cursor: pointer;
    background-color: white;
}

.category-input img.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

#category-input-content {
    background-color: white;
    height: 110px;
    width: 440px;
    z-index: 100;
    position: relative;
    border-radius: 10px;
    font-size: var(--font-size);
    border: 1px solid black;
    padding: 5px;
}

#category-input-content p {
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

#category-input-content p:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.category-input:focus {
    outline: none;
    border: var(--focus-color);
}

.subtask-input-wrapper {
    width: 440px;
    height: 80px;
}

.subtask-input {
    position: relative;
    display: flex;
    align-items: center;
}

#subtask-input {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: var(--font-size);
    padding-left: 10px;
}

#subtask-input img {
    height: 25px;
    width: 25px;
    padding-right: 10px;
}

#subtask-input input {
    color: var(--font-color);
}

#subtask-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 440px;
}

#subtask-container-js-images {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    display: flex;
}

#subtask-container-js-images img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}

.subtask-list-items input {
    border: none;
    background-color: #F6F7F8;
}

.subtask-container-js-images-devider {
    height: 20px;
    background-color: grey;
    width: 1px;
    margin-left: 8px;
    margin-right: 12px;
}

.subtask-container-js-images-devider-edit {
    height: 20px;
    background-color: grey;
    width: 1px;
    margin-left: 8px;
    margin-right: 12px;
}

.subtask-list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-left: 10px;
    cursor: pointer;
}

#subtask-input:focus {
    outline: none;
    border: var(--focus-color);
}

#subtask-input {
    color: var(--font-color);
}

.subtask-list-items-img-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.edit-images-subtasks-wrapper {
    display: flex;
    justify-content: space-between;
}

.edit-images-subtasks-wrapper img {
    height: 20px;
    width: 20px;
}

#subtasks-list {
    width: 430px;
    height: 60px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #F6F7F8;
    z-index: 100;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    margin-left: 5%;
    margin-top: 80px;
    padding-left: 20px;
}

.clear-create-buttons-wrapper {
    display: flex;
    gap: 20px;
}

.create-task-button {
    height: 60px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: var(--font-size);
    background-color: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.clear-task-button {
    width: 110px;
    height: 60px;
    border-radius: 5px;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-wrapper {
    margin-bottom: 15px;
}

.required-star-markers {
    color: red;
    margin-left: -3px;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.field-required-mediaquery {
    display: none;
}

.hamburger-toggle {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #29abe2;
    cursor: pointer;
}

.hamburger-menu {
    background-color: #2a3647;
    border: 1px solid #ccc;
    position: absolute;
    top: 90px;
    right: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 15px 0 15px 15px;
}

.menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter-ExtraLight";
    font-size: 14px;
    margin: 10px;
}

.menu-link:hover {
    background-color: #39495f;
}

.header-responsiv-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-help {
    padding-top: 7px;
}
