/* for edit task */

.assigned-to-checkboxes {

    width:20px;
}

.edit-subtask-list{

    width:440px;
    height:100px;
    overflow: scroll;
    background-color: white;
}


.edit-subtask-input-wrapper {

    border:1px solid grey;
    border-radius:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:440px;
}

.edit-subtask-input-wrapper:focus-within {
    border: 2px solid #29ABE2;
    
}
.edit-subtask-input-imgs {
    
    display: flex;
    gap:5px;
}

.edit-subtask-list-items-single {

    display: flex;
    align-items: center;
}

.edit-subtask-list-items-single-imgs {

    display: flex;
    gap:5px;
  
}

.edit-subtask-list-items-single input {

    border:none;
    height:20px !important;
    
}

.edit-subtask-list-items-single input:focus {

    border:none;
}

.seperator-imgs {

    background-color: grey;
    width:2px;
    height:25px;   
}

.edit-subtask-input-imgs img {
    
    width:25px;
    height:24px;
}

.edit-subtask-input {
    max-width: 350px;
    padding: 10px;
    border:none;
  
}

.edit-subtask-input:focus {
    max-width: 400px;
    padding: 10px;
    border:none;
  
}

.edit-subtask-list-items-single {

    display:flex;
    justify-content: space-between;
    height:40px;
}

.edit-subtask-list-items-single:focus  {

    max-width: 400px;
    padding: 10px;
    border:none;
    height:10px;


}

@media (max-width:1020px) {
 
}

@media (max-width: 500px) {

   
}

@media (max-width: 450px) {



}

@media (max-width: 400px) {

 
}

@media (max-width: 370px) {
  
}

@media (max-width: 360px) {}


@media (max-width: 340px) {

    .edit-task-header {

        font-size:38px;
    }
  
}

@media (max-width: 320px) {



}