/* for edit task */

.assigned-to-checkboxes {

    width:20px;
}

.edit-subtask-list{

    width:440px;
    height:100px;
    overflow: scroll;
    background-color: white;
}

.edit-subtask-input-wrapper {

    border:1px solid grey;
    border-radius:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:440px;
    width:100%;
}

.edit-subtask-input {
    max-width: 80%;
    padding: 10px;
    border:none;
  
}

.edit-subtask-input:focus {
    max-width: 80%;
    padding: 10px;
    border:none;
  
}

.edit-subtask-input-wrapper:focus-within {
    border: 2px solid #29ABE2;
    
}
.edit-subtask-input-imgs {
    
    display: flex;
    gap:5px;
}

.seperator-imgs {

    background-color: grey;
    width:2px;
    height:25px;   
}

.edit-subtask-input-imgs img {
    
    width:25px;
    height:24px;
}


.edit-subtask-list-items-single {

    display:flex;
    justify-content: space-between;
    height:40px;
}

.edit-subtask-list-items-single:focus  {

    max-width: 400px;
    padding: 10px;
    border:none;
    height:10px;
}

.edit-subtask-list-items-single {

    display: flex;
    align-items: center;
}

.edit-subtask-list-items-single-imgs {

    display: flex;
    gap:5px;
  
}

.edit-subtask-list-items-single input {

    border:none;
    height:20px !important;
    max-width:80%;
    
}

.edit-subtask-list-items-single input:focus {

    border:none;
}


@media (max-width: 500px) {

    .edit-subtask-input-wrapper,
    .edit-subtask-list {

        width:396px
    }
}

@media (max-width: 450px) {
    
    .edit-subtask-input-wrapper
    .edit-subtask-list {

        width:374px;
    }


}

@media (max-width: 400px) {

   
    .edit-subtask-input-wrapper,
    .edit-subtask-list {

        width:352px;
    }
}

@media (max-width: 370px) {

      
    .edit-subtask-input-wrapper,
    .edit-subtask-list {

        width:330px;
    }
  
}

@media (max-width: 360px) {

    .edit-subtask-input-wrapper,
    .edit-subtask-list {

        width:308px;
        padding-right:20px;
    }
}


@media (max-width: 340px) {

    .edit-subtask-input-wrapper,
    .edit-subtask-list {

        width:286px
    }

    .edit-task-header {

        font-size:38px;
    }
  
}

@media (max-width: 320px) {

    

    .edit-subtask-input-wrapper,
    .edit-subtask-list {

        width:264px
    }

}