.contact-list-wrapper {
    width: 456px;
    height: 89vh;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: white;

}

.add-contact-btn {
    display: flex;
    align-items: center;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
}

.add-contact-btn .icon {
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.add-contact-btn:hover {
    background-color: #34495E;
    /* Etwas helleres Blau beim Hover */
}