.contact-list-wrapper {
    width: 456px;
    height: 89vh;
    display: flex;
    padding-top: 30px;
    background-color: white;
    position: relative;
    z-index: 10;
    box-shadow: 5px 9px 10px 0 rgba(0, 0, 0, 0.2);
}

.contact-text-wrapper {
    background-color: #f6f7f8;
    width: 100%;
}

.add-contact-btn {
    display: flex;
    align-items: center;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
}

.add-contact-btn .icon {
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.add-contact-btn:hover {
    background-color: #34495E;
}

.body-wrapper {
    display: flex;
}

.contact-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-contact-btn {
    margin-bottom: 35px;
}

.contact-text {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 120px;
    margin-left: 60px;
}

.contact-text h1 {
    color: black;
    font-size: 64px;
}

.contact-text h2 {
    color: black;
}

.seperator {
    height: 40px;
    width: 2px;
    background-color: #29ABE2;
}

/* Overlay */

.overlay {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(100%);
    opacity: 0;
    z-index: 11;
}

.overlay.show {
    transform: translateX(0);
    opacity: 1;
}

.d-none {
    display: none;
}

h2 {
    color: white;
    font-size: 28px;
}

.overlay-wrapper {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    width: 1200px;
    background-color: white;
}

.exit-overlay {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 453px;
    height: 594px;
    background-color: #2a3647;
    padding: 66px 46px 66px 46px;
    gap: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact-wrapper h1 {
    color: white;
    font-size: 56px;
}

.contact-wrapper h2 {
    color: white;
    font-size: 24px;
}

.contact-wrapper img {
    width: 53.93px;
    height: 66.48px;
}

.highlight {
    background-color: #29ABE2;
    width: 100px;
    height: 2px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 453px;
}

.name-input {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 215px;
    gap: 30px;
    margin-top: 80px;
    margin-left: 20px;
}

.input-fields input {
    padding: 14px;
    border-radius: 10px;
}

.input-fields input:hover {
    border: 2px solid#29ABE2;
}

.input-fields input:focus {
    border: 2px solid #29ABE2;
    outline: none;
}

.name-initials {
    width: 120px;
    height: 120px;
    /* border-radius: 60%;
    background-color: orange; */
}

.circle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 40px;
}

.buttons-form-wrapper {
    display: flex;
    gap: 25px;
    width: 249px;
    height: 57px;
    margin-top: 20px;
    margin-left: 20px;
}

.buttons-form-wrapper button {
    padding: 8px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cancel-button {
    display: flex;
}

.cancel-button img {
    width: 25px;
    height: 25px;
}

.buttons-span-image-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-contact-button button {
    width: 150px;
    background-color: #2a3647;
    color: white;
}

.edit-contact-button button {
    width: 80px;
    background-color: #2a3647;
    color: white;
    display: flex;
    gap: 5px;
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}

.input-container input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container input:focus {
    border-color: #666;
}

.cancel-button-span {
    padding-bottom: 4px;
}

.cancel-button-img {
    padding-bottom: 4px;
}


/* template js  */



/* editContact function */

#edit-contacts {
    display: flex;
    flex-direction: column;
    border: 4px solid turquoise;
    width: 500px;
    height: 500px;
    gap: 20px;
    margin-left: 60px;
}

.delete-edit-contact-wrapper {
    display: flex;
    gap: 20px;
}

.svg-name-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* loadData function */

.load-data-container {

    display: flex;
    align-items: center;
}

.contact-list-wrapper h2 {

    color:black;
}
