body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: "Inter-Regular";
    position: relative;
}

.join-logo-container {
    position: absolute;
    top: 40px;
    left: 40px;
}

.join-logo {
    width: 80px;
    height: auto;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-arrow-icon {
    width: 24px;
    height: auto;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signup-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.underline-container {
    display: flex;
    justify-content: center;
}

.underline {
    width: 60px;
    height: 4px;
    background-color: #007BFF;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 12px 45px 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.policy-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    margin-left: 25px;
}

.policy-container input {
    margin-right: 10px;
}

.policy-container label {
    font-size: 14px;
    color: #333;
}

.policy-container label a {
    color: #007BFF;
    text-decoration: none;
}

.policy-container label a:hover {
    text-decoration: underline;
}

.signup-button {
    display: flex;
    justify-content: center;
}

.signup-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2a3647;
    color: white;
}

.signup-btn:hover {
    background-color: #29aae1;
}

.bottom-links {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #333;
}

.bottom-links a {
    color: #333;
    text-decoration: none;
}

.bottom-links a:hover {
    text-decoration: none;
}

.botton-text {
    color: rgb(179, 179, 179);
}

.botton-text:hover {
    color: #29aae1;
}

.error {
    border: 1px solid red !important;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.accept-policy {
    font-size: 1px; 
}
