/* muss eigentlich global nachher sortieren obsidian  */

a {

    text-decoration: none !important;
}


.header-responsiv-img-container {
    padding-left: 20px;
}

.header-responsiv-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* global classes */


.capital-numbers {

    font-size:40px;
    font-weight: 800;
}

.txt-font-adjustment {

    font-size:20px;

}

.d-none {

    display: none;
}

.main {

    background-color: #F6F7F8;
}

/* END global classes */



.left-right-side-wrapper {

    display: flex;
    margin-left:5%;
    margin-top:5%;
   
}

.subheader {

    display: flex;
    align-items: center;
    /* width:665px;
    height:73px; */
    gap:32px;
    margin-left:5%;
    margin-top:3%;
    margin-bottom:-2%;
}

.first-h2 {

    /* width:264px;
    height:73px;  */
    font-size: 48px;

}
 
.second-h2 {

    color:grey;
}

.subheader-devider {

    width:3px;
    height:60px;
    background-color: aqua;
    
}

.subheader-devider-mediaquery {

    width:3px;
    height:60px;
    background-color: aqua;
    display:none;
}

.left-side-wrapper {

    
width:560px;
height:562px;


}

/* to-do-done-wrapper */

.to-do-done-wrapper {

    display: flex;
    gap:30px;
}


.to-do {

width: 264px;
height: 168px;
border:1px solid lightgrey;
border-radius:10px;
display: flex;
justify-content: center;
align-items: center;


}


.to-do-icon {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2A3647;
    border-radius:30px;
    width:60px;
    height:60px;
}



.to-do-inside-wrapper {

    display: flex;
    justify-content: center;
    height:63px;
    width:200px;
    gap:20px;
}

.to-do-placeholder-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.done {

    width: 264px;
    height: 168px;
    border:1px solid lightgrey;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .done-icon {
    
    
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2A3647;
        border-radius:30px;
        width:60px;
        height:60px;
    }
    
    .done-inside-wrapper {
    
        display: flex;
        justify-content: center;
        height:63px;
        width:200px;
        gap:20px;
    }
    
    .done-placeholder-wrapper {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* END to-do-done-wrapper */


.urgent-container {

display: flex;
width:560px;
height:168px;
border:1px solid lightgrey;
margin-top:20px;
border-radius:10px;

    
 }

 .urgent-left-side-inside-wrapper {

width: 264px;
height: 168px;
border-radius:10px;
display: flex;
justify-content: center;
align-items: center;
gap:25px;
text-align: center;

 }

 .urgent-icon {


    display: flex;
    align-items: center;
    justify-content: center;
    background-color:red;
    border-radius:30px;
    width:60px;
    height:60px;
}

 .urgent-seperator {

    background-color: lightgrey;
    width:2px;
    height:100px;
    display: flex;
    margin-top:35px;
 }

 .urgent-right-side-inside-wrapper {
 
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:296px;
 }



 
 .three-bottom-container-wrapper {

    display: flex;
    margin-top:20px;
    gap:25px;
    margin-left:2px;
 }

 .three-bottom-inside-wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:125px;
    width: 83px;
 }

 .tasks-board {

    width:168px;
    height:168px;
    border:1px solid lightgrey;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
 

 .tasks-progress {

    width:168px;
    height:168px;
    border:1px solid lightgrey;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 
}
 
 .feedback {

    width:168px;
    height:168px;
    border:1px solid lightgrey;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
}
 


 .right-side-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
 }

 .greetings-container {

    width:385px;
    height:136px;
   
 }

 .right-side-wrapper {

    
    width:560px;
    height:562px;

    }

.greeting-text {

    font-size:30px;
}

#name-placeholder {

    font-size: 64px;
}


    











 .to-do {
    transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition for background and scaling */
}

.to-do:hover {
    background-color: #2A3647; /* Change background on hover */
    transform: scale(1.1); /* Scale the element to 1.1 times its size */
}

.to-do:hover .to-do-icon {
    background: white; /* Change background of the icon */
}

.to-do-icon img.edit-dark {
    display: none; /* Hide dark icon by default */
}

.to-do-icon img.edit-light {
    display: inline; /* Show light icon by default */
}

.to-do:hover .to-do-icon img.edit-light {
    display: none; /* Hide light icon on hover */
}

.to-do:hover .to-do-icon img.edit-dark {
    display: inline; /* Show dark icon on hover */
}

.to-do:hover .number-placeholder,
.to-do:hover .txt-font-adjustment {
    color: white; /* Change font color */
}






/* For the .done element */
.done {
    transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition for background and scaling */
}

.done:hover {
    background-color: #2A3647; /* Change background on hover */
    transform: scale(1.1); /* Scale the element to 1.1 times its size */
}

.done:hover .done-icon {
    background: white; /* Change background of the icon */
}

/* Default state: show light icon, hide dark icon */
.done-icon img.done-light {
    display: inline; /* Show light icon by default */
}

.done-icon img.done-dark {
    display: none; /* Hide dark icon by default */
}

/* Hover state: hide light icon, show dark icon */
.done:hover .done-icon img.done-light {
    display: none; /* Hide light icon on hover */
}

.done:hover .done-icon img.done-dark {
    display: inline; /* Show dark icon on hover */
}

.done:hover .number-placeholder,
.done:hover .txt-font-adjustment {
    color: white; /* Change font color */
}




/* For the .urgent-container element */
.urgent-container {
    transition: background 0.3s ease, color 0.3s ease; /* Smooth transition for background and font color */
}

.urgent-container:hover {
    background-color: #2A3647; /* Change background color to dark grey on hover */
    color: white; /* Change font color to white on hover */
    transform: scale(1.1); /* Scale the element to 1.1 times its size */
}




/* For the .tasks-board element */
.tasks-board {
    transition: background 0.3s ease, color 0.3s ease; /* Smooth transition for background and font color */
}

.tasks-board:hover {
    background-color: #2A3647; /* Change background color to dark grey on hover */
    color: white; /* Change font color to white on hover */
    transform: scale(1.1); /* Scale the element to 1.1 times its size */
}

/* For the .tasks-progress element */
.tasks-progress {
    transition: background 0.3s ease, color 0.3s ease; /* Smooth transition for background and font color */
}

.tasks-progress:hover {
    background-color: #2A3647; /* Change background color to dark grey on hover */
    color: white; /* Change font color to white on hover */
    transform: scale(1.1); /* Scale the element to 1.1 times its size */
}

/* For the .feedback element */
.feedback {
    transition: background 0.3s ease, color 0.3s ease; /* Smooth transition for background and font color */
}

.feedback:hover {
    background-color: #2A3647; /* Change background color to dark grey on hover */
    color: white; /* Change font color to white on hover */
    transform: scale(1.1); /* Scale the element to 1.1 times its size */
}




/* Hamburger Toggle */

.hamburger-toggle {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #29abe2;
    cursor: pointer;
}

.hamburger-menu {
    background-color: #2a3647;
    border: 1px solid #ccc;
    position: absolute;
    top: 90px;
    right: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 15px 0 15px 15px;
}

.menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter-ExtraLight";
    font-size: 14px;
    margin: 10px;
}

.menu-link:hover {
    background-color: #39495f;
}

/* von sidebar js für oben rechts icon  */

.header-help {
    padding-top: 7px;
}

@media(max-width: 1000px) {
    .right-side-wrapper {

      margin-left:50px;
     }

     .greeting-text {

        font-size:30px;
        
    }
    
}



@media(max-width: 880px) {
    .right-side-wrapper {

      display:none;
     }
    
}


@media(max-width: 600px) {
    
    
.left-side-wrapper {


    width:400px;
    height:562px;
    

    }

.to-do-done-wrapper {

    display: flex;
    gap:15px;
}

.urgent-container {

    display: flex;
    width:400px;
    height:168px;
    border:1px solid lightgrey;
    margin-top:20px;
    border-radius:10px;
    
} 

.to-do,
.done{

    width: 45%;
    margin-left:2.5%;
    height: 150px;
    border:1px solid lightgrey;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }
    

}


@media(max-width: 400px) {
    
    
.left-side-wrapper {


    width:300px;
    height:562px;
    

    }

.urgent-container {

    display: flex;
    width:300px;
    height:168px;
    border:1px solid lightgrey;
    margin-top:20px;
    border-radius:10px;
    
} 

.to-do,
.done{

    width: 45%;
    margin-left:2.5%;
    height: 150px;
    border:1px solid lightgrey;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

    .to-do-inside-wrapper,
    .done-inside-wrapper {

        display: flex;
        justify-content: center;
        height:63px;
        width:200px;
        gap:4px;
    }

}

@media (max-width:530px) {

    .subheader {

    flex-wrap:wrap;
}

.subheader-devider {
   display:none;
}

.subheader-devider-mediaquery {

    width:200px;
    height:3px;
    background-color: aqua;
    display:block;
    margin-top:20px;
}


}


